/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Manrope', Helvetica, sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
    color: black;
    text-decoration: none;
}

/* FONT SETUP */
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* HOME PAGE */
main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.background img {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    object-fit: cover;
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* NAV */
p {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
}

.left-nav,
.right-nav,
.left-nav-touch,
.right-nav-touch {
    position: fixed;
    z-index: 10;
    top: 0;
    padding: 0.444em;
    align-items: center;
}

.left-nav-touch,
.right-nav-touch,
.gallery-nav-touch {
    display: none;
}

.left-nav {
    display: flex;
    left: 0;
    justify-content: flex-end;
}

.right-nav {
    display: flex;
    right: 0;
    justify-content: flex-start;
}

.info-label-container,
.gallery-label-container {
    overflow: hidden;
}

.gallery-link {
    height: 2.25em;
    width: 2.25em;
    border-radius: 50%;
    background-color: black;
    border: 3px solid black;
    overflow: hidden;
    cursor: pointer;
}

.gallery-link:hover,
.toggle:hover,
.gallery-link:focus,
.toggle:focus {
    background-color: transparent;
    outline: none;
}

.gallery-link.focused {
    background-color: transparent;
    outline: none;
}

.gallery-link:active {
    transform: scale(1.2);
}

.gallery-label {
    margin-right: 0.296em;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.gallery-label.on {
    transform: translateX(0%);
}

.gallery-label.off {
    transform: translateX(calc(100% + 0.3em));
}

.info-label {
    margin-left: 0.296em;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.info-label.on {
    transform: translateX(0%);
}

.info-label.off {
    transform: translateX(calc(-100% - 0.3em));
}

.toggle {
    height: 2.25em;
    width: 2.25em;
    background-color: black;
    border: 3px solid black;
    overflow: hidden;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.toggle.open {
    transform: rotate(90deg);
}

.toggle.closed {
    transform: rotate(-90deg);
}

.info {
    position: fixed;
    left: 0;
    top: 2.5em;
    bottom: auto;
    margin: 0.444em;
    z-index: 10;
}

.right-link:focus,
.previous:focus,
.next:focus {
    outline: none;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* GALLERY */
.gallery {
    height: 100%;
    width: 100%;
}

.gallery-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1;
}

.previous {
    height: 100%;
    flex-grow: 2;
    cursor: url('nav/arrow-left.svg'), auto;
}

.next {
    height: 100%;
    flex-grow: 3;
    cursor: url('nav/arrow-right.svg'), auto;
    z-index: 1;
}

.space {
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.space {
    overflow: hidden;
}

/* SPACE ONE */
.one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(12, calc(80vw / 12));
    grid-template-rows: repeat(12, calc(80vh / 12));
}

.c-l2 {
    grid-column: 1 / 6;
    grid-row: 3 / 13;
    align-self: end;
}

.c-f2 {
    grid-column: 7 / 11;
    grid-row: 1 / 8;
}

.c-l2 img {
    object-fit: scale-down;
    max-height: calc(0.7 * 90vh);
}

.c-f2 img {
    object-fit: scale-down;
    max-height: calc(1 / 2 * 90vh);
}

/* SPACE TWO */
.two {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.c-v16 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
}

.c-s14 {
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
    animation: 1s fadeIn;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-v16 img {
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.c-s14 img {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: scale-down;
}

/* SPACE THREE */
.three {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: start;
}

.c-s6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-s6 img {
    max-width: 70vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE FOUR */
.four {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr 100px;
    grid-template-rows: 100%;
}

.c-v7 {
    grid-column-start: 2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.c-v8 {
    grid-column-start: 4;
    height: 100%;
    display: flex;
    align-items: center;
}

/* .c-s2 {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.c-v7 img,
.c-v8 img {
    object-fit: scale-down;
    max-height: 90vh;
    max-width: calc(50vw - 150px);
}

/* .c-s2 img {
    max-width: 50vw;
    max-height: 60vh;
} */

/* SPACE FIVE */
.five {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(12, calc(80vw / 12));
    grid-template-rows: repeat(12, calc(80vh / 12));
}

.c-s4 {
    grid-column: 7 / 13;
    grid-row: 1 / 13;
    justify-self: end;
    display: flex;
    height: 100%;
}

.c-n4 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    animation: 0.5s fadeIn;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-s7 {
    grid-column: 3 / 7;
    grid-row: 7 / 13;
    align-self: end;
    display: flex;
    animation: 0.5s fadeIn;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    visibility: hidden;
    z-index: -1;
}

.c-s4 img {
    object-fit: scale-down;
    min-height: 40vh;
    max-height: 80vh;
    max-width: 50vw;
    min-width: 30vh;
}

.c-n4 img {
    object-fit: scale-down;
    max-width: 22vw;
}
.c-s7 img {
    object-fit: scale-down;
    max-height: 42vh;
}

/* SPACE SIX */
.six {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
}

.c-t2 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t2 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE SEVEN */
.seven {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.c-t3 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t3 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE EIGHT */
.eight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
}

.c-t4 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t4 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE NINE */
.nine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.c-t11 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t11 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE TEN */
.ten {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 40px));
    grid-template-rows: 100%;
    column-gap: 80px;
}

.c-t10 {
    animation: 0.5s fadeIn;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-t10 img {
    max-width: calc(25vw - 40px);
    max-height: 80vh;
    object-fit: scale-down;
}

.c-t5 {
    justify-self: center;
    align-self: end;
    display: flex;
    justify-content: center;
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-t5 img {
    max-width: calc(30vw - 40px);
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE ELEVEN */
.eleven {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
}

.c-n2 {
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
}

.c-n3 {
    overflow: hidden;
    grid-column-start: 3;
    grid-row-start: 1;
    place-self: center;
}

.c-n2 img,
.c-n3 img {
    max-width: 36vw;
    max-height: 80vh;
}

/* SPACE TWELVE */
.twelve {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.c-t6 {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-row-start: 1;
}

.c-t6 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE THIRTEEN */
.thirteen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.c-t1 {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    grid-column-start: 2;
    grid-row-start: 1;
}

.c-t1 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE FOURTEEN */
.fourteen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.c-n5 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
}

.c-t9 {
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
}

.c-n5 img {
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.c-t9 img {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: scale-down;
}

/* MEDIA QUERIES */
/* Use landscape mode */
/* @media (max-device-width: 1024px) and (orientation: portrait) {
 body {
  width: 100vh;
  height: 100vw;
  transform-origin: 0 0;
  transform: rotateZ(90deg) translate3d(0%,-100%,0)
 } */

/* Touch screens */
@media (hover: none), (hover: on-demand) {
    .left-nav-touch,
    .right-nav-touch {
        display: flex;
        align-items: flex-start;
        width: 100px;
        height: 50px;
    }
    .left-nav-touch {
        left: 0;
    }
    .right-nav-touch {
        right: 0;
        justify-content: flex-end;
    }
    .info {
        top: auto;
        bottom: 0;
    }
    .left-nav,
    .right-nav {
        display: none;
    }
    /* .gallery-nav {
        display: none;
    } */
    /* .gallery-nav-touch {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    } */
}

/* Smart phones */
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

/* Portrait touch screens */
@media only screen and (orientation: portrait) {
    /* SPACE ONE */
    .one {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
    .c-l2 {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        justify-self: start;
        display: flex;
        align-content: center;
    }
    .c-f2 {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
        justify-self: end;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
    }
    .c-l2 img {
        object-fit: scale-down;
        max-height: 35vh;
    }
    .c-f2 img {
        object-fit: scale-down;
        max-height: 25vh;
    }
    /* SPACE THREE */
    .three {
        justify-content: center;
    }
    /* SPACE FOUR */
    .four {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 10px 1fr 10px 1fr 10px;
        grid-template-rows: 100%;
    }
    .c-v7 {
        overflow: hidden;
        grid-column-start: 2;
        grid-row-start: 1;
        place-self: center;
        display: flex;
        justify-content: center;
    }
    .c-v8 {
        grid-column-start: 4;
        grid-row-start: 1;
        place-self: center;
        display: flex;
        justify-content: center;
    }
    .c-v7 img,
    .c-v8 img {
        max-width: calc(50vw - 15px);
    }
    /* SPACE FIVE */
    .five {
        height: 70%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .c-s4 {
        align-items: flex-end;
    }
    .c-n4 {
        visibility: visible;
        animation-name: none;
    }
    .c-s7 {
        display: none;
    }
    .c-s4 img {
        object-fit: scale-down;
        min-width: auto;
        max-width: 45vw;
        min-height: auto;
        max-height: none;
    }
    .c-n4 img {
        object-fit: scale-down;
        min-width: auto;
        max-width: 45vw;
        min-height: auto;
        max-height: none;
    }
    /* SPACE TEN */
    .ten {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }
    .c-t10 {
        display: flex;
        justify-content: center;
    }
    .c-t5 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .c-t10 img {
        max-width: 50vw;
        max-height: 30vh;
    }
    .c-t5 img {
        max-width: 50vw;
        max-height: 30vh;
    }
    /* SPACE ELEVEN */
    .eleven {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .c-n2 img,
    .c-n3 img {
        max-width: 60vw;
    }
    /* SPACE TWELVE */
    .twelve {
        display: block;
    }
    .c-t6 {
        height: 100%;
        justify-content: center;
    }
    /* SPACE THIRTEEN */
    .thirteen {
        display: block;
    }
    .c-t1 {
        height: 100%;
        justify-content: center;
    }
}

/* Portrait tablets */
@media only screen and (min-width: 600px) and (orientation: portrait) {
    /* SPACE ONE */
    .c-l2 img {
        max-height: 40vh;
    }
    .c-f2 img {
        max-height: 30vh;
    }
    /* SPACE FOUR */
    .four {
        grid-template-columns: 20px 1fr 20px 1fr 20px;
    }
    .c-v7 img,
    .c-v8 img {
        max-width: calc(50vw - 30px);
    }
    /* SPACE FIVE */
    .c-s4 img {
        max-width: 40vw;
    }
    .c-n4 img {
        max-width: 40vw;
    }
}

/* Landscape phones */
@media only screen and (max-width: 850px) and (orientation: landscape) {
    /* SPACE FIVE */
    .five {
        height: 75%;
        grid-template-rows: repeat(12, calc(75vh / 12));
    }
    .c-s4 img {
        max-height: 75vh;
    }
    /* SPACE TEN */
    .ten {
        width: 75%;
        top: 52%;
        column-gap: 60px;
    }
}

/* Landscape tablets */
@media only screen and (min-width: 850px) and (hover: none) and (orientation: landscape) {
    /* SPACE ONE */
    .c-l2 {
        grid-row: 2 / 13;
        align-self: center;
    }
    .c-f2 {
        grid-column: 8 / 12;
    }
    .c-l2 img {
        max-height: 50vh;
    }
    .c-f2 img {
        max-height: 40vh;
    }
    /* SPACE FOUR */
    .c-s6 img {
        max-height: 70vh;
    }
    /* SPACE FIVE */
    .c-s7 {
        grid-column: 2 / 6;
    }
    .c-n4 img {
        max-width: 24vw;
    }
    .c-s4 img {
        min-height: 40vh;
        max-height: 80vh;
        min-width: 20vh;
        max-width: 36vw;
    }
    .c-s7 img {
        max-height: 52vh;
        max-width: 22vw;
    }
    /* SPACE TEN */
    .c-t10 img {
        max-width: calc(30vw - 40px);
    }
    .c-t5 img {
        max-width: calc(35vw - 40px);
    }
}
