/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Manrope', Helvetica, sans-serif;
}

a:link,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* FONT SETUP */
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* HOME PAGE */
main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: -10;
    display: flex;
    align-content: flex-end;
    overflow: hidden;
}

.background img {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    object-fit: cover;
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* NAV */
p {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1;
}

.nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.444em;
    display: flex;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-label-container,
.gallery-label-container {
    overflow: hidden;
}

.right-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery-link {
    height: 2.25em;
    width: 2.25em;
    border-radius: 50%;
    background-color: black;
    border: 3px solid black;
    overflow: hidden;
    cursor: pointer;
}

.gallery-link:hover,
.toggle:hover,
.gallery-link:focus,
.toggle:focus {
    background-color: transparent;
    outline: none;
}

.gallery-link:active {
    transform: scale(1.2);
}

.gallery-label {
    margin-right: 0.296em;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.gallery-label.on {
    transform: translateX(0%);
}

.gallery-label.off {
    transform: translateX(calc(100% + 0.3em));
}

.info-label {
    margin-left: 0.296em;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.info-label.on {
    transform: translateX(0%);
}

.info-label.off {
    transform: translateX(calc(-100% - 0.3em));
}

.toggle {
    height: 2.25em;
    width: 2.25em;
    background-color: black;
    border: 3px solid black;
    overflow: hidden;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.toggle.open {
    transform: rotate(90deg);
}

.toggle.closed {
    transform: rotate(-90deg);
}

.info {
    position: fixed;
    left: 0;
    top: 2.5em;
    margin: 0.444em;
}

/* GALLERY */
.gallery {
    height: 100%;
    width: 100%;
}

.gallery-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1;
}

.previous {
    height: 100%;
    flex-grow: 2;
    cursor: url('nav/arrow-left.svg'), auto;
}

.next {
    height: 100%;
    flex-grow: 3;
    cursor: url('nav/arrow-right.svg'), auto;
    z-index: 1;
}

.space {
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.space {
    overflow: hidden;
}

/* .space {
    position: relative;
    height: 100%;
    width: 100%;
} */

/* .space > * {
    position: absolute;
} */

/* SPACE ONE */
.one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(12, calc(80vw / 12));
    grid-template-rows: repeat(12, calc(80vh / 12));
}

.c-l2 {
    grid-column: 1 / 6;
    grid-row: 3 / 13;
    align-self: end;
}

.c-f2 {
    grid-column: 7 / 11;
    grid-row: 1 / 8;
}

.c-l2 img {
    object-fit: scale-down;
    max-height: calc(0.7 * 90vh);
}

.c-f2 img {
    object-fit: scale-down;
    max-height: calc(1 / 2 * 90vh);
}

/* SPACE TWO */
.two {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.c-v8 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
}

.c-s14 {
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
}

.c-v8 img {
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.c-s14 img {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: scale-down;
}

/* SPACE THREE */
.three {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 40px));
    grid-template-rows: 100%;
    column-gap: 80px;
}

.c-s6 {
    place-self: center;
    display: flex;
    justify-content: center;
}

.c-s6 img {
    max-width: calc(40vw - 40px);
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE FOUR */
.four {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 20px));
    grid-template-rows: 100%;
    column-gap: 40px;
}

.c-v1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.c-s2 {
    grid-column-start: 2;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
}

.c-v1 img {
    object-fit: cover;
    min-height: 100vh;
    max-width: calc(50vw - 20px);
}

.c-s2 img {
    max-width: calc(50vw - 20px);
    max-height: 60vh;
}

/* SPACE FIVE */
.five {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(12, calc(80vw / 12));
    grid-template-rows: repeat(12, calc(80vh / 12));
}

.c-s4 {
    grid-column: 7 / 13;
    grid-row: 1 / 13;
    justify-self: end;
}

.c-n4 {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    animation: 1s fadeIn;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-s7 {
    grid-column: 3 / 6;
    grid-row: 7 / 13;
    align-self: end;
    display: flex;
    animation: 1s fadeIn;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    visibility: hidden;
    z-index: -1;
}

.c-s4 img {
    object-fit: scale-down;
    min-height: 40vh;
    max-height: 80vh;
    max-width: 50vw;
    min-width: 30vh;
}

.c-n4 img {
    object-fit: scale-down;
    max-width: 20vw;
}
.c-s7 img {
    object-fit: scale-down;
    max-height: 40vh;
}

/* SPACE SIX */
.six {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
}

.c-t2 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t2 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE SEVEN */
.seven {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.c-t3 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t3 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE EIGHT */
.eight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
}

.c-t4 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t4 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE NINE */
.nine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.c-t11 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.c-t11 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE TEN */
.ten {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 40px));
    grid-template-rows: 100%;
    column-gap: 80px;
}

.c-t10 {
    animation: 1s fadeIn;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-t10 img {
    max-width: calc(30vw - 40px);
    max-height: 80vh;
    object-fit: scale-down;
}

.c-t5 {
    place-self: center;
    display: flex;
    justify-content: center;
    animation: 1s fadeIn;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-t5 img {
    max-width: calc(35vw - 40px);
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE ELEVEN */
.eleven {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
}

.c-n2 {
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
}

.c-n3 {
    overflow: hidden;
    grid-column-start: 3;
    grid-row-start: 1;
    place-self: center;
}

.c-n2 img,
.c-n3 img {
    max-width: 36vw;
    max-height: 80vh;
}

/* SPACE TWELVE */
.twelve {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.c-t6 {
    height: 100%;
    place-self: center;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 1;
}

.c-t6 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE THIRTEEN */
.thirteen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.c-t1 {
    place-self: center;
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 100%;
}

.c-t1 img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: scale-down;
}

/* SPACE FOURTEEN */
.fourteen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.c-n5 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    /* display: flex;
    justify-content: center; */
}

.c-t9 {
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    display: flex;
    justify-content: center;
    /* padding-right: 50vw; */
}

.c-n5 img {
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.c-t9 img {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: scale-down;
}
