/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Manrope', Helvetica, sans-serif;
}

/* img {
    width: 100%;
    height: auto;
} */

a:link,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* FONT SETUP */
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* HOME PAGE */
main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.animation {
    height: 100%;
    width: 100%;
    background-image: url('/images/v1.jpg');
}

/* INFO */
p {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0.444em;
    z-index: 10;
}

.toggle {
    height: 2em;
    width: 2em;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.toggle.open {
    transform: rotate(90deg);
}

.toggle.closed {
    transform: rotate(-90deg);
}

/* GALLERY */
.gallery {
    height: 100%;
    width: 100%;
}
.gallery-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1;
}

.previous {
    height: 100%;
    flex-grow: 2;
    cursor: url('nav/n-arrow-left.svg'), auto;
}

.next {
    height: 100%;
    flex-grow: 3;
    cursor: url('nav/n-arrow-right.svg'), auto;
    z-index: 1;
}

/* .space {
    position: relative;
    height: 100%;
    width: 100%;
} */

/* .space > * {
    position: absolute;
} */

/* SPACE ONE */
.one {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 80vh auto;
}

.c-v8 {
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100%;
    place-self: center;
}

.c-v8 img {
    height: 100%;
    width: auto;
}

/* SPACE TWO */
.two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.c-n4 {
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
}

/* .c-s7 {
    grid-row-start: 3;
    grid-column-start: 3;
    justify-self: center;
    align-self: end;
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
} */

.c-s4 {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 40%;
    place-self: center;
}

.c-s4 img,
.c-s7 img,
.c-n4 img {
    width: 100%;
    height: auto;
}

/* SPACE THREE */
.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* grid-template-columns: repeat(4, auto);
    grid-template-rows: auto 80vh auto; */
}

.c-s5 {
    /* grid-column-start: 2; */
    /* grid-row-start: 2; */
    height: 100%;
    width: auto;
    /* justify-self: start; */
}

.c-v9 {
    /* grid-column-start: 3;
    grid-row-start: 2; */
    height: 100%;
    width: auto;
    align-self: flex-end;
    /* justify-self: end; */
}

.c-s5 img,
.c-v9 img {
    height: 100%;
    width: auto;
}

/* SPACE FOUR */
.c-s2 {
    width: 500px;
    bottom: 50px;
    left: 100px;
}

/* SPACE FIVE */
.c-s9 {
    width: 200px;
    top: 100px;
    right: 200px;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-s3 {
    width: 400px;
    top: 300px;
    right: 100px;
    animation: 1s fadeIn;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-v3 {
    width: 300px;
    top: 200px;
    left: 400px;
    animation: 1s fadeIn;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.c-n3 {
    width: 200px;
    top: 20px;
    left: 300px;
    animation: 1s fadeIn;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
